

*, ::before, ::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

:root {
  --blue: rgb(0, 140, 255);
}


body {
  font-size: 100%;
  font-family: sans-serif;
  padding: 4rem;
}

.container {
  width: 191px;
  display: flex;
  flex-direction: column;
  
  margin: 0 auto;
}

.flex {
  display: flex;
}

.num {
  stroke: gray;
  stroke-width: 2px;
  fill: none;
}

.blue {
  stroke: var(--blue);
}

text {
  font-size: .8rem;
}

line {
  stroke: gray;
  stroke-width: 2px;
}

/* animations for the line - pause (wait for circle to transition) on reverse/prev click */
.top {
  stroke-dasharray: 0 28;
  transition: all 700ms 450ms;
}

.top.blue {
  stroke-dasharray: 28 0;
  transition: all 400ms;
}


/* animations for the circle - do not pause on reverse/prev click */
.top-circle {
  stroke-dashoffset: 31.215;
  stroke-dasharray: 0 62.43;
  transition: all 800ms;
}

/* stroke on cirle was a touch short - increased the "dash" by one unit and decresed the "gap" by one unit */
.top-circle.blue {
  stroke-dasharray: 32.215 30.215;
  transition: all 800ms 350ms;
}


.btns {
  margin: 1.5rem auto;
}

button {
  padding: .35rem .75rem;
  color: #fff;
  background-color: rgba(0,0,0,.25);
  border: 0;
  border-radius: 3px;
  transition: background-color 300ms ease-out;
}

.enabled {
  background-color: var(--blue);
  cursor: pointer;
  transition: background-color 300ms ease-out;
}

